
.navbar-right li a {
    text-align: right;
}

tr {
   line-height: 15px;
   min-height: 15px;
   height: 15px;
}


@media (max-width: 768px) {
    .btnS {
      font-size:8px;
      padding:4px 6px;
    }
  }
  
@media (min-width: 768px) {
    .btnS {
      font-size:12px;
      padding:6px 12px;
    }
  }
  
 @media (min-width: 992px) {
    .btnS {
      font-size:14px;
      padding:8px 12px;
    }
  }
  
@media (min-width: 1200px) {
    .btnS {
      padding:10px 16px;
      font-size:18px;
    }
 }