<h3>Add new Graded Task</h3>
We understand as a graded task any test or practice that will be marked by teacher and should be reflected in the final mark.

<form id="newGradedTask">
  Task name:<br>
  <input type="text" id="idTaskName" name="taskname" value="">
  <br>
  Task description:<br>
  <textarea rows="4" cols="50" id="idTaskDescription" name="taskdescription" value=""></textarea>
  <br>
  Task Weight (0-100 %):<br>
  <input type="number" id="idTaskWeight" name="taskweight" value="">
  <br><br>
  <input type="submit" value="Save">
</form> 
