<h3>Add new Student</h3>
<form id="newStudent">
 <div class="form-group">
  <label for="name">First name:</label>
  <input type="text"  class="form-control" id="idFirstName" name="firstname" value="" required>
 </div>

  <div class="form-group">
  <label for="surnames">Surnames:</label>
  <input type="text"  class="form-control" id="idSurnames" name="surnames" value="" required>
  </div>

  <div class="form-group">
  <label>Profile image</label>
  <input type="file" id="myProfile" name="myImage" accept="image/jpeg" />
  <img id="output" />
  </div>
 
  <input type="submit" class="btn btn-primary" value="Save">
</form> 
