
<!-- Modal -->
<div class="modal fade" id="XPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">XP to ${personInstance.surname} ,${personInstance.name}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                <div ng-repeat="attitudeItem in TPL_ATTITUDE_TASKS">
                  <button class="xp btn btn-${attitudeItem[1].type}" idAT="${attitudeItem[1].id}" value="${attitudeItem[1].points}">${attitudeItem[1].points} ${attitudeItem[1].description}</button>
                </div>  
              </div>          
              
          </div>
        </div>   
      </div>
      <div class="modal-footer">
          
              <form id="newAttitudeTask" class="form-inline">
                <div class="form-group">
                  <label for="points">Points: </label>
                  <input type="text" name="points" id="points" size="3" value="20" class="text ui-widget-content ui-corner-all">
                </div>
                <div class="form-group">
                  <label for="text">Text:</label>
                  <input type="text" name="text" id="description" value="" class="text ui-widget-content ui-corner-all">
                </div>
                <input type="submit" value="New XP task" >                  
              </form>
            
        <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Close</button>          
      </div>
    </div>
  </div>
</div>