<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>    

    <link rel="stylesheet" href="../style.css"> 
    
  </head>

  <body>
<div class="container-fluid">
<h3>Positive behaviours</h3>
<button class="xp btn btn-success" value="20" style="width:100%"> +20 Correctly answer a question in class using English </button>
<button class="xp btn btn-success" value="20" style="width:100%"> +20 Present your solution in front of class </button>
<button class="xp btn btn-success" value="100" style="width:100%"> +100 Finish a proposed task before class ends </button>
<button class="xp btn btn-success" value="50" style="width:100%"> +50 Asking insightful questions about the lesson </button>
<br>
<h3>Negative behaviours</h3>
<button class="xp btn btn-danger" value="-20" style="width:100%"> -20 Arriving late to class </button>
<button class="xp btn btn-danger" value="-30" style="width:100%"> -30 Not answer in english when you have been asked in english </button>
<button class="xp btn btn-danger" value="-100" style="width:100%"> -100 Delayed homework delivery </button>
 </div> 
  </body>
  </html>


