<div  class="login-intro" style="margin-top:30px">
    <div class="widget container">

    <div class="omb_login">
        <!--  <h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3>
        <div class="row omb_row-sm-offset-3 omb_socialButtons">           
            <div class="col-xs-4 col-sm-2">                
                <a target="_self" href="api/loginTwitter" class="btn btn-block btn-social btn-twitter">
                    <span class="fa fa-twitter"></span>Sign in Twitter
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a target="_self" href="api/loginGoogle" class="btn btn-block btn-social btn-google">
                    <span class="fa fa-google"></span>Sign in Google
                </a>
            </div>          
        </div> 

        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">or</span>
            </div>
        </div> -->

        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <form id="loginForm" class="omb_loginForm" autocomplete="off">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control"  name="username" placeholder="email address">
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <span   class="help-block"></span><br>
                    <span id="loginAlert" class="text-danger">User or password error. Bad Credentials!</span>                        
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button><br>
                </form>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <!--<div class="col-xs-12 col-sm-3">
                <label class="">
                    <input type="checkbox" value="remember-me">Remember Me
                </label>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p class="omb_forgotPwd">
                    <a href="#">Forgot password?</a>
                </p>
            </div> -->
        </div>
    </div>
        </div>
</div>