
<table class="table table-striped table-hover">
<thead class="thead-dark">
<tr><th>Name</th><th>Actions</th><th>XP Points</th><th>GT Points</th>
    <th>${TPL_GRADED_TASKS}</th>
</tr>
</thead>
<tbody id="idTableRankingBody">
    <!-- FILLED WITH REPEATED lineStudent template, once for student -->
    <tr ng-repeat="person in TPL_PERSONS">
    <td>
        <a href='#student/${person[1].getId()}'>${person[1].surname}, ${person[1].name}</a>
    </td>
    <td>
        <a href='#editStudent/${person[1].getId()}'><button class='btnS btn btn-success'>
        <i class='fa fa-pencil fa-1x'></i></button></a><a href='#deleteStudent/${person[1].getId()}'>
        <button class='btnS btn btn-danger'><i class='fa fa-trash-o fa-1x'></i></button></a>
    </td>
    
    <td>
        <strong>${person[1].getTotalPoints()}</strong>
    </td>
     <td>
        <strong>${person[1].getGTtotalPoints()}</strong>
    </td>

    <td>
        <a href='#addXP/${person[1].getId()}'><button class="btnS btn btn-primary">+XP</button></a>
    </td>
    
     <td ng-repeat='GT in person[1].getStudentMarks()'>
        <input type='number' class='gradedTaskInput' idStudent='${person[1].getId()}' idGradedTask='${GT[0]}' min=0 max=100 value='${GT[1]}'/>
    </td>
   
</tr>
    
</tbody>

</table>