<h3>Settings</h3>
<form id="newSettings">
  <div class="form-group">
    <label for="xp" id="idXPweight">Weight XP</label><br>
    <input type="range" min="0" max="100" value='25' id="weightChanger" name='rangeChanger' /><br>
    <label for="gt" id="idGPweight">Weight GT</label>
  </div>
</form> 

<form id="existingTerms">
  DEFAULT TERM:
  <div class="form-group">
      <select id="termsItems">
        ${scope.TPL_DEFAULT_TERM}
      </select>      
  </div>

  <div class="form-group" ng-repeat="term in TPL_TERMS">
    <label for="xp" id="id${term.name}">Term Name:</label><br>
    <input id="idInput${term.name}" type="text" value="${term.name}">
    BEGIN<input id="${term.name}beginTerm" type="date" value="${term.begin}">
    END<input id="${term.name}endTerm" type="date" value="${term.end}">      
    <input type="submit" class="btn btn-primary" value="Change">
  </div>
</form> 

<form id="newTerm">
    <div class="form-group">
      <label for="xp" id="termName">Term name</label><br>
      <input id="nameTerm" type="text">
      BEGIN<input id="beginTerm" type="date">
      END<input id="endTerm" type="date">      
      <input type="submit" class="btn btn-primary" value="New term  ">
    </div>
 </form> 
  